.card {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.containerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header {
  height: 30%;
  background: red;
  color: white;
  text-align: center;
}
